body {
    margin: 0;
}

ul.headerUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.headerUl li, ul.menuMetricsUl li {
    float: left;
}

ul.headerUl li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.headerUl li a:hover:not(.active) {
    background-color: #111;
}

ul.headerUl li a.active {
    background-color: #1e88e5;
}

ul.headerUl li.right {
    float: right;
}

button.buttonLogout {
    text-align: center;
    color: white;
    border: 1px solid #448aff;
    text-decoration: none;
    background-color: #333;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

button.buttonLogout:hover {
    background-color: #111;
}

@media screen and (max-width: 600px){
    ul.headerUl li.right, 
    ul.headerUl li,
    ul.menuMetricsUl li {float: none;}
    button.buttonLogout {width: 100%;}
    ul.menuMetricsUl li button {width: 25%;}
}

div.menuMetricsDiv {
    margin-top: 10px;
    overflow: hidden;
    padding: 0;
}

ul.menuMetricsUl {
    list-style-type: none;
    padding: 0;
}

ul.menuMetricsUl li button {
    background-color: #1976d2;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

ul.menuMetricsUl li button:hover {
    background-color: #0d47a1;
}

#graphDiv {
    margin-top: 20px;
    padding-left: 10px; 
    padding-right: 5px;
}
